*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}
.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-90px) scale(3);
}
.foreground{
    transform: translateZ(-40px) scale(2);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
h1{
    position: absolute;
    top: 5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(-20px);
    font-size: 8rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 3rem 0;
}
.secHeading{
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 3rem;
}
.text{
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 3rem;
    margin: 3rem 0;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-20%);
    color: black;
    font-size: 2.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 600;
}
.bg1{
    background-image: url(sport-1.png);
}
.bg2{
    background-image: url(sport-2.png);
}
.bg3{
    background-image: url(sport-3.png);
}